body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(/static/images/loginpage-hero-image.jfif);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.loginpage-form-container {
    max-width: 50%;
    color: black;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2rem;
    margin: auto;
    margin-top: 5rem;
}

.form-signin {
    padding: 1rem;
}

.form-control{
    width: 70%;
    color: black;
    margin: auto;

}

.form-control:hover{
    color: black;
    margin: auto;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.1);

}
