body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(/static/images/signuppage-hero-image.jfif);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.signuppage-form-container {
    max-width: 50%;
    color: white;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 1rem;
    margin: auto;
    margin-top: 5rem;
    box-shadow: 0px 0px 20px 5px rgba(255,255,255,0.1);
}

.form-signin {
    padding: 1rem;
}

