{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loginpage.css') }}">
{% endblock %}


{% block content %}

{% for each_message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ each_message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}

<div class="container">
    <div class="loginpage-form-container">
        <form action="/login" method="POST" class="form-signin">
            <div>
                <h1 class="form-signin-heading">Login</h1>
                {{ form.hidden_tag() }}
            </div>
            <div>
                {{ render_field(form.username, class='form-control ', placeholder='Enter Username ( demo123 )') }}
            </div>
            <div>
                {{ render_field(form.password, class='form-control', placeholder='Enter Password ( demodemo123 )') }}
            </div>
            <div>
                <button type="submit" class="btn btn-lg btn-primary mt-3">Sign in</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}